@charset "UTF-8";
.content{
	width:1000px;
	margin:200px auto;
}
 input , .btninfo{
 	width:230px;
 	height:33px;
	border:none;
 	color:white;
 	font-size: 17px;
 	background-color:rgb(66,139,202);
 	border-radius:3px;
 }
 input[type="submit"]{
	margin-left:230px;
 }
 #uploadFile{
	cursor:pointer;
 	width:230px;
 	opacity:0;
 	position:absolute;
 }
 .btninfo{
	display:inline-block;
 	line-height:33px;
 	background-color:rgb(91,192,222);
 	text-align:center;
 }
 .upload_ul{
	list-style-type:none;
 	width:1000px;
 	margin-top:33px;
 	display: table;
 }
 .title{
	width:300px;
 }
 .upload_ul li{
	display:table-row;
 }
 .upload_ul li span{
 	font-size:17px;
 	padding: 5px 10px;
 	display:table-cell;
 }
 .info-title{
	background-color:rgb(239,239,239);
 }
 #templates{
	display:none;
 }
 #footer{
	 margin-top:30px;
 }
